.Home{
    position: absolute;
    top: 20px;
    left: 20px;
}
.container {
    
    
}
body {
    background-color: #1E1E1E;
}
#profileName {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 500px;
    left: 400px;
    border-color:rgb(157, 77, 77);
    background-color:rgb(250, 161, 161);
    border-width:3px;
    border-style:solid;
}
.Shop{
    position: absolute;
    bottom: 375px;
    right:430px;
}
.More{
    position: absolute;
    bottom: 375px;
    right: 60px;
    
}
.TranHist{
    position: absolute;
    top: 20px;
    right: 20px;
}
#ProfImg{
    position: absolute;
    top: 250px;
    left: 100px;
}
#moneyLeft{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 590px;
    left: 50px;
    border-color:rgb(77, 157, 77);
    background-color:rgb(161, 250, 161);
    border-width:3px;
    border-style:solid;
}